.appointment-radio-wrapper .appointment-radio {
  flex-wrap: wrap;
}

.appointment-radio {
  display: flex;
  flex-direction: row;
  /*flex-direction: column;*/
}

@media (min-width: 800px) {
  .appointment-radio {
    /*flex-direction: row;*/
  }
}

.class-name {
  margin: 5px;
}

/* Ensure proper spacing and alignment */
.sec-title {
  margin-right: 15px;
}

input::placeholder {
  color: #c2c2c2; /* Placeholder text color */
  opacity: 0.8 !important; /* Full opacity */
  font-style: italic; /* Italic font style */
}